body{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

.bgimage{
  background-image: url(/assets/cosmokramer2.png);
  background-size: inherit;
  background-position: center;
  min-height:35vh;
}

.relative{
position: relative;
}

.font{
  font-family: 'Fugaz One', cursive;
}

@media only screen and (min-width: 768px) {
  .bg-main-image {
    background-image: url(/assets/cosmokramer2.png);
  }
  .title-tag  {
    position:absolute;
    top: 1.5rem;
    right: 1.5em
  }
};