body{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

.bgimage{
  background-image: url(/assets/cosmokramer2.png);
  background-size: cover;
  background-position: center;
  padding:5px; 
}

